@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: theme('colors.scrollbar.track');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.scrollbar.thumb');
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.scrollbar.DEFAULT');
}
