@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: theme("colors.scrollbar.track");
}

::-webkit-scrollbar-thumb {
    background: theme("colors.scrollbar.thumb");
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: theme("colors.scrollbar.DEFAULT");
}

pre {
    @apply text-wrap text-sm bg-blue-950 text-cyan-200 p-4 rounded;
}

.md-body {
    h1 {
        @apply text-2xl font-bold; /* Add other Tailwind classes as needed */
    }

    h2 {
        @apply text-xl font-bold; /* Add other Tailwind classes as needed */
    }

    h3 {
        @apply text-lg font-bold; /* Add other Tailwind classes as needed */
    }

    h4 {
        @apply text-base font-bold; /* Add other Tailwind classes as needed */
    }

    a {
        @apply underline text-secondary;
    }
}
